.newpost-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newpost-container button{
    padding: 5px 25px;
    font-weight: bold;
    font-size: 14px;
}


.posts-container{
    margin: 15px 0;    
}

.posts-container ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    margin: 0 auto 0 auto;
}

.posts-container ul li{
    max-width: 100%;
    min-height: 200px;
    background-color: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    text-align: justify;
}

.posts-pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.posts-container ul li div img,video{
    max-width: 100%;
    margin-bottom: 10px;
}

.post-footer{
    text-align: right;
    margin-right: 15px;
}

.post-footer-wa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



@media (max-width:760px){

    .posts-container ul{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

}

@media (min-width:1280px){

    .posts-container ul{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

}